<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">

          <ion-list-header>App Senac</ion-list-header>

          <ion-menu-toggle auto-hide="false">

            <div *ngIf="userData">

              <ion-item routerDirection="root" routerLink="/test01" lines="none" detail="false">
                <ion-icon slot="start" ios="cog-outline" md="cog-sharp"></ion-icon>
                <ion-label>Funcionalidade 01</ion-label>
              </ion-item>

              <ion-item routerDirection="root" routerLink="/test02" lines="none" detail="false">
                <ion-icon slot="start" ios="cog-outline" md="cog-sharp"></ion-icon>
                <ion-label>Funcionalidade 02</ion-label>
              </ion-item>

              <hr>

            </div>
            <ion-item *ngIf="userData" routerDirection="root" routerLink="/home" lines="none" detail="false">
              <ion-icon slot="start" ios="" md="home"></ion-icon>
              <ion-label>CASA</ion-label>
            </ion-item>

            <ion-item *ngIf="!userData" routerDirection="root" routerLink="/user/login" lines="none" detail="false">
              <ion-icon slot="start" ios="ios-home" md="log-in-sharp"></ion-icon>
              <ion-label>Login / Entrar</ion-label>
            </ion-item>

            <ion-item *ngIf="userData" routerDirection="root" routerLink="/user/profile" lines="none" detail="false">
              <ion-icon slot="start" ios="person-outline" md="person-sharp"></ion-icon>
              <ion-label>Seu perfil</ion-label>
            </ion-item>

            <ion-item *ngIf="userData" routerDirection="root" routerLink="/user/logout" lines="none" detail="false">
              <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
              <ion-label>Logout / Sair</ion-label>
            </ion-item>
            <hr>
            <ion-item *ngIf="userData" routerDirection="root" routerLink="/contacts" lines="none" detail="false">
              <ion-icon slot="start" ios="chatbubbles-outline" md="chatbubbles-sharp"></ion-icon>
              <ion-label>Faça contato</ion-label>
            </ion-item>

            <ion-item *ngIf="userData" routerDirection="root" routerLink="/info" lines="none" detail="false">
              <ion-icon slot="start" ios="information-circle-outline" md="information-circle-sharp"></ion-icon>
              <ion-label>Informações</ion-label>
            </ion-item>

            <hr>

          </ion-menu-toggle>

        </ion-list>
      </ion-content>

      <div class="copyright">&copy; Ulib</div>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>